body{
	font-family : 'Malgun Gothic', 'Verdana';
	background-color : #80ffff;
	color : #400040;
	margin : 0; /* 바깥쪽 간격 */
	padding : 0; /* 안쪽간격 */
}
h1, h2, h3, h4, h5, h6{
	font-size: 1.0em; 	
}
h1{
	font-size : 2em; /* 오버라이딩하는것임 */
	padding-bottom: 0;
	padding-bottom: 0;
}
div#wrapper{
	width: 90%;
	padding-bottom: 0; /* 위아래간격 */
	margin-bottom: 0;
	margin-left: auto;  /* 가운데정렬 */
	margin-right: auto;
}
div#header{
	position: relative;	
	margin-bottom: 0;
	padding: 0;
	color: #000;
}
div#title{
	float: left;
	text-align: left;
	display: block;
}
div#login-box{
	float:right;
	margin:10px;
	font-size: 1.1em;
	display: block;
	color: #fff;
}
/* hover 역할 지나가면 효과를 줘라 */
/* text none;a태그의 밑줄표시 없애버림 */
div#login-box a:hover{
	color: #fff;
	text-decoration: none;	
}
div#login-box a:hover{
	color: $ff0000;
	text-decoration: none;
}
div#menu-box{
	margin-top: 40px;
}
div#header h1{
	color: #fff;
	padding: 5px 0; /* 위아래는 5픽셀씩띄우고 좌우는 띄우지마라 */
	margin: 0;
	border: none;
	line-height: 2em;
	font-weight: bold;
	font-size: 32px;
}
div#content {
	padding: 15px 30px; /* 12시 3시 6시 9시 */
	background-color: #fff;
	margin-bottom: 30px;
	min-height: 400px;
}
div#content-box{
	clear: both;
	margin-top: 40px;
}
ul#menu-box{ 
	clear:both;
	margin-top: 40px;
}
ul#menu{
	text-align: right;
	margin: 0;
	border-bottom: 1px #80ff80;
	position: relative; 
}
ul#menu li{
	display: inline; /* 줄바꾸지말고 계속이어서코딩해 */
	list-style: none;
	background-color: #80ffff;
	
}
ul#menu li a{
	padding: 10px 20px;
	background-color: #ffff80;
	font-weight: bold;
	text-decoration: none; /* 밑줄긋지마! */	
	line-height: 2.8em; /* 쪼그만세상에서의 2.8이라고함 */
	color : black;
}
ul#menu li a:hover{
	padding: 10px 20px;
	background-color: #ff80ff;
	font-weight: bold;
	text-decoration: none; /* 밑줄긋지마! */	
	line-height: 2.8em; /* 쪼그만세상에서의 2.8이라고함 */
	color : black;
}
ul#menu li a:hover{
	background-color: #ff80ff;
	text-decoration: none;
}
ul#menu li a:active{
	background-color: #ff80ff;
	text-decoration: none;
}
div#footer{
	clear: both;
	color: #400040;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	line-height: nomal;
	font-size: 1.5em;
}

/* table,th,td{border:1px solid gray}
.width-60pt{width:60%}
.width-full{width:100%}
.height-full{height:100%}
.margin-auto{margine 0 auto}
.height-500{height:500px}
.height-1000{height:1000px}
.height-1500{height:1500px}
main
#width_height-full{width:100%;height:100%}
admin_login, user_login
#login_box{width:250px; margin: 150px auto}
#login_style{border:1px solid black} */